<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/edit}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" id="name" required placeholder="Имя"/></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" id="surname" required placeholder="Фамилия"/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}" id="age" required placeholder="Возраст"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>

</body>
</html>